body{
  background-color: black;
  color: white;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}